.board_modal {
  /* position: absolute; */
  /* top: 100px; */
}

.hidden {
  display: none
}

.kanbanBoard {
  display: flex;
}

.board {
  text-align: center;
  height: 40rem;
  width: 20rem;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.cardList {
  padding: 0;
}

.card {
  list-style: none;
  border: 1px solid black;
  padding: 28px;
  margin: 12px 0;
}